@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@using DAL.Entities


@model IEnumerable<Post>

<div class="row">
	<div></div>


	<div class="container mt-5">
		<h2>CRUD Table</h2>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Summary</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var post in Model)
				{


					<tr>
						<td>@post.PostId</td>
						<td>@post.Title</td>
						<td>@post.Samary</td>
						<td>
							<a href="@Url.Action("Details", "Articles", new { id = post.PostId })">عرض</a> |
							<a href="@Url.Action("Edit", "Articles", new { id =post.PostId })">تعديل</a> |
							<a href="@Url.Action("Delete", "Articles", new { id = post.PostId })">حذف</a>
						</td>
					</tr>

				}

			</tbody>
		</table>
	</div>
</div>


